<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Alytaus miesto savivaldybė</string>
	<string>Alytaus rajono savivaldybė</string>
	<string>Birštono savivaldybė</string>
	<string>Druskininkų savivaldybė</string>
	<string>Elektrėnų savivaldybė</string>
	<string>Lazdijų rajono savivaldybė</string>
	<string>Šalčininkų rajono savivaldybė</string>
	<string>Širvintų rajono savivaldybė</string>
	<string>Švenčionių rajono savivaldybė</string>
	<string>Trakų rajono savivaldybė</string>
	<string>Varėnos rajono savivaldybė</string>
	<string>Vilniaus miesto savivaldybė</string>
	<string>Vilniaus rajono savivaldybė</string>
	<string>Jonavos rajono savivaldybė</string>
	<string>Jurbarko rajono savivaldybė</string>
	<string>Kaišiadorių rajono savivaldybė</string>
	<string>Kalvarijos savivaldybė</string>
	<string>Kauno miesto savivaldybė</string>
	<string>Kauno rajono savivaldybė</string>
	<string>Kazlų Rūdos savivaldybė</string>
	<string>Kėdainių rajono savivaldybė</string>
	<string>Marijampolės savivaldybė</string>
	<string>Prienų rajono savivaldybė</string>
	<string>Šakių rajono savivaldybė</string>
	<string>Vilkaviškio rajono savivaldybė</string>
	<string>Klaipėdos miesto savivaldybė</string>
	<string>Klaipėdos rajono savivaldybė</string>
	<string>Kretingos rajono savivaldybė</string>
	<string>Neringos savivaldybė</string>
	<string>Pagėgių savivaldybė</string>
	<string>Palangos miesto savivaldybė</string>
	<string>Plungės rajono savivaldybė</string>
	<string>Skuodo rajono savivaldybė</string>
	<string>Šilalės rajono savivaldybė</string>
	<string>Šilutės rajono savivaldybė</string>
	<string>Telšių rajono savivaldybė</string>
	<string>Akmenės rajono savivaldybė</string>
	<string>Joniškio rajono savivaldybė</string>
	<string>Kelmės rajono savivaldybė</string>
	<string>Mažeikių rajono savivaldybė</string>
	<string>Pakruojo rajono savivaldybė</string>
	<string>Radviliškio rajono savivaldybė</string>
	<string>Raseinių rajono savivaldybė</string>
	<string>Rietavo savivaldybė</string>
	<string>Šiaulių miesto savivaldybė</string>
	<string>Šiaulių rajono savivaldybė</string>
	<string>Tauragės rajono savivaldybė</string>
	<string>Anykščių rajono savivaldybė</string>
	<string>Biržų rajono savivaldybė</string>
	<string>Ignalinos rajono savivaldybė</string>
	<string>Kupiškio rajono savivaldybė</string>
	<string>Molėtų rajono savivaldybė</string>
	<string>Panevėžio miesto savivaldybė</string>
	<string>Panevėžio rajono savivaldybė</string>
	<string>Pasvalio rajono savivaldybė</string>
	<string>Rokiškio rajono savivaldybė</string>
	<string>Utenos rajono savivaldybė</string>
	<string>Visagino savivaldybė</string>
	<string>Zarasų rajono savivaldybė</string>
	<string>Ukmergės rajono savivaldybė</string>
	<string>Gyvenu užsienyje</string>
</array>
</plist>
